*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bodycontainer {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 924px;
  padding: 48px 80px 4px 80px;
}
.fpcontainer {
  max-width: 1280px;
  width: 100%;
  height: 40px;
}
.heading h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  font-family: sans-serif;
}
.pmcontainer {
  max-width: 1280px;
  width: 100%;
  height: 748px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pccontainer {
  max-width: 1280px;
  width: 100%;
  height: 532px;
  display: flex;
  justify-content: space-between;
}
.fcollection {
  max-width: 624px;
  height: 532px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scollection {
  max-width: 624px;
  width: 100%;
  height: 532px;
  display: flex;
  justify-content: space-between;
}
.simage {
  max-width: 624px;
  width: 100%;
  height: 250px;
}
.timages {
  max-width: 624px;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
}
.fimage {
  max-width: 296px;
  width: 100%;
  height: 250px;
}
.simage {
  width: 296px;
  height: 250px;
}
.sctimages {
  max-width: 296px;
  width: 100%;
  height: 532px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.scsecimage {
  max-width: 296px;
  width: 100%;
  height: 250px;
}
.scsimage {
  max-width: 296px;
  width: 100%;
  height: 532px;
}
.textcontainer {
  max-width: 1280px;
  width: 100%;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fiandp {
  max-width: 616px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.siandp {
  max-width: 616px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.ficon {
  width: 32px;
  height: 32px;
  margin-top: 20px;
}
.fp {
  max-width: 560px;
  width: 100%;
  max-height: 72px;
}
#fp {
  max-width: 90%;
  width: 100%;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  margin-top: 0px;
  color: #4b5563;
  font-family: sans-serif;
}
.sicon {
  width: 32px;
  height: 32px;
  margin-top: 20px;
}
.srfi {
  width: 32px;
  height: 32px;
}
.srsi {
  width: 32px;
  height: 32px;
}
.sp {
  max-width: 560px;
  width: 100%;
  max-height: 72px;
}
#sp {
  max-width: 90%;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  margin-top: 0px;
  color: #4b5563;
  font-family: sans-serif;
}
.frow {
  max-width: 1280px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.fritems1 {
  max-width: 616px;
  width: 100%;
  height: 72px;
}
.fritem2 {
  max-width: 616px;
  width: 100%;
  height: 72px;
}
.srow {
  max-width: 1280px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.sritem1 {
  max-width: 616px;
  width: 100%;
  height: 72px;
}
.srfiandp {
  max-width: 616px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.srsiandp {
  max-width: 616px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}
.sritem2 {
  max-width: 616px;
  width: 100%;
  height: 72px;
}
.srfp{
    max-width: 560px;
    width: 100%;
    height: 72px;
}
#srfp {
    max-width: 90%;
    font-weight: 400;
    size: 16px;
    line-height: 24px;
    margin-top: 0px;
    color: #4b5563;
    font-family: sans-serif;
  }
 .srsp{
    max-width: 560px;
    width: 100%;
    height: 72px;
 } 
#srsp {
  max-width: 90%;
  font-weight: 400;
  size: 16px;
  line-height: 24px;
  margin-top: 0px;
  color: #4b5563;
  font-family: sans-serif;
}
.srficon {
  width: 32px;
  height: 32px;
  margin-top: 20px;
}
.srsicon {
  width: 32px;
  height: 32px;
  margin-top: 20px;
}
.btncont{
    max-width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #4b5563;
    font-size: 40px;    
}

