* {
  margin: 0px;
  padding: 0px;
}

.bodycontainer {
  max-width: 1440px;
  max-height: 1166px;
  display: flex;
}

.leftflexcontainer {
  max-width: 236px;
  width: 100%;
  display: flex;
  height: 100vh;
}

.righsection {
  max-width: 1180px;
  width: 100%;
  height: 40px;
  background-color: #F8FAFC;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 16px 28px;
}

.rightflexcontainer {
  width: 1236px;
  height: 40px;
  background-color: #F8FAFC;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  border-bottom: 1px solid #CBD5E1;
}

.lowersection {
  max-width: 1180px;
  width: 100%;
  height: 100vh;
  background-color: #F8FAFC;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 16px 28px;
}

.search {
  margin-top: 8px;
  margin-left: 18px;
  margin-bottom: 8px;
  width: 260px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--Slate-300, #CBD5E1);
  background: var(--Slate-100, #F1F5F9);
}

.search1 {
  width: 260px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Slate-300, #CBD5E1);
  background: var(--Slate-100, #F1F5F9);
}

.sicon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.stext {
  color: var(--Slate-600, #475569);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.neicon {
  width: 230px;
  background: #fff;
  border-left: 1px solid #475569;
  display: flex;
  justify-content: space-between;
}

.name {
  color: var(--Slate-800, #1E293B);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.email {
  color: var(--Slate-600, #475569);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.nicon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  align-self: center;
}

.emailandarrow {
  display: flex;
  gap: 20px;
  align-items: center;
}

.neicon {
  background: var(--Slate-100, #F1F5F9);
}

.downarrow {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  align-self: center;
}

.bottomdiv {
  max-width: 1124px;
  width: 100%;
  margin-top: 24px;
  padding: 24px;
  background: #FFF;
}

.toolbar {
  max-width: 52px;
  width: 100%;
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px 0px 0px 6px;
  background: #fff;
  box-shadow: -1px 0px 0px 0px rgba(0, 0, 0, 0.04) inset;
}

.upperdiv {
  max-width: 24px;
  width: 100%;
  height: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nextpages {
  width: 1170px;
  height: 40px;
  margin-top: 38px;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

.pageselect {
  width: 400px;
  height: 30px;
  display: flex;
  gap: 16px;
}

.p1 {
  display: flex;
  width: 10px;
  height: 10px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--Gray-300, #D1D5DB);
  background: #FFF;
}

.p2 {
  display: flex;
  width: 10px;
  height: 10px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--Gray-300, #D1D5DB);
  background: #FFF;
}

.p3 {
  display: flex;
  width: 10px;
  height: 10px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--Gray-300, #D1D5DB);
  background: #FFF;
}


.p4 {
  display: flex;
  width: 10px;
  height: 10px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--Gray-300, #D1D5DB);
  background: #FFF;
}

.p5 {
  display: flex;
  width: 10px;
  height: 10px;
  padding: 12px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--Gray-300, #D1D5DB);
  background: #FFF;
}

.upperdivitems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lowerdiv {
  width: 16px;
  height: 48px;
  padding: 8px 6px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lowerdivicons {
  border: none;
  background: transparent;
}

.sidenavbar {
  max-width: 208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 56px 0px;
}

.bnav {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #F1F5F9;
}

.navbtns {
  display: flex;
  gap: 22px;
}

.fbtn {
  width: 110px;
  height: 44px;
  display: inline-flex;
  background: #fff;
  color: #1D4ED8;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 4px;
  border: 1px solid var(--Blue-700, #1D4ED8);
}

.sbtn {
  width: 110px;
  height: 44px;
  display: inline-flex;
  background: #1D4ED8;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 4px;
}

.table {
  width: 1174px;
  height: 100vh;
  background-color: #FFF;
}

.td {
  display: flex;
  justify-content: space-between;
}

.rating {
  margin-left: 140px;
}

.sku {
  margin-left: 30px;
}

.qty {
  margin-left: 15px;
}

.price {
  margin-right: 10px;
}

.tcheckbox {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Slate-400, #94A3B8);
}

.statusbtn {
  width: 81px;
  height: 28px;
  display: inline-flex;
  padding: 8px 12px;
  align-items: flex-start;
  border: none;
  gap: 10px;
  border-radius: 4px;
  background: var(--Green-100, #DCFCE7);
}

.pub {
  color: var(--Green-700, #15803D);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.pend {
  color: var(--Yellow-600, #CA8A04);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.pendbtn {
  width: 81px;
  height: 28px;
  display: inline-flex;
  padding: 8px 12px;
  align-items: flex-start;
  border: none;
  gap: 10px;
  border-radius: 4px;
  background: var(--Yellow-100, #FEF9C3);
}

.ina {
  color: var(--Red-600, #DC2626);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.inabtn {
  width: 81px;
  height: 28px;
  display: inline-flex;
  padding: 8px 12px;
  align-items: flex-start;
  border: none;
  gap: 10px;
  border-radius: 4px;
  background: var(--Red-100, #FEE2E2);
}

.probtn {
  width: 81px;
  height: 28px;
  display: inline-flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 4px;
  background: var(--Blue-100, #DBEAFE);
}

.acticon {
  border: none;
  background-color: transparent;
}

.pro {
  color: var(--Blue-700, #1D4ED8);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.tr1 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.tr2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.tr3 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.tr4 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.tr5 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.tr6 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.trows {
  display: flex;
  flex-direction: column;
}

.sidenavmenu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menulist {
  width: 100%;
}

.listitem1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 14px;
  gap: 8px;
}

#listitem1-p {
  width: 132px;
  height: 16px;

}

.listitem1-icon3 {
  border: none;
  background: transparent;
}

.listitem1-icon1 {
  border: none;
  background: transparent;
}

.listitem2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 14px;
}

#listitem2-p {
  width: 130px;
  height: 16px;
}

.listitem3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 14px;
}

.listitem4 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 14px;
}

.listitem5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 14px;
}

.listitem6 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 14px;
}

.listitem7 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 14px;
}

button:hover {
  cursor: pointer
}

;